<div class="container mt-5">
  <h2><strong>Monthly Summary</strong></h2>
</div>

<div class="container rounded border un-box-shadow bg-white p-5 my-5">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/assets/js/charts.js"></script>