<!-- Hero Section -->
<div id="tabs" class="container rounded border un-box-shadow bg-white p-5 my-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <!-- Manager's Information Tab -->
        <li class="nav-item">
        <a class="nav-link active" id="manager-tab" data-toggle="tab" href="#manager" role="tab" aria-controls="manager" aria-selected="true">Manager Information</a>
        </li>

        <!-- Team's Information Tab -->
        <li class="nav-item">
        <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team Information</a>
        </li>

        <!-- Department's Information Tab -->
        <li class="nav-item">
        <a class="nav-link" id="department-tab" data-toggle="tab" href="#department" role="tab" aria-controls="department" aria-selected="false">Department Information</a>
        </li>

        <!-- Organization's Information Tab -->
        <li class="nav-item">
            <a class="nav-link" id="organization-tab" data-toggle="tab" href="#organization" role="tab" aria-controls="department" aria-selected="false">Organization Information</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Employee's Tab Content -->
        <div class="tab-pane fade show active" id="manager" role="tabpanel" aria-labelledby="manager-tab">
          <div class="my-2">Manager Name: <strong>{{[0].[0].first_name}}</strong></div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat et dolor hic quae dolores dignissimos quisquam autem deleniti, minima suscipit, rem delectus sequi sit! Laboriosam reiciendis corporis ad praesentium harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae reiciendis obcaecati in atque doloremque, sapiente culpa placeat maxime vero inventore porro velit nemo laborum. Delectus, velit quaerat? A, debitis beatae?</div>

        <!-- Team's Tab Content -->
        <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque reprehenderit quod fuga hic deleniti sit necessitatibus voluptatum vitae minus, ipsum tempore, reiciendis iure vel? Quae at suscipit aperiam ut dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam mollitia enim, est esse culpa, fuga corporis sed nesciunt expedita voluptates autem tenetur eos, aliquam quae vero porro nulla delectus obcaecati?</div>

        <!-- Department's Tab Content -->
        <div class="tab-pane fade" id="department" role="tabpanel" aria-labelledby="department-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni cupiditate nulla facere consectetur aspernatur ratione, vel tenetur quis similique, animi voluptatem nostrum eveniet doloribus! Animi facilis velit molestiae veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corporis recusandae magnam iure ratione possimus repellat quibusdam sequi, esse ex non, similique reprehenderit, quaerat dignissimos omnis. Veritatis, iusto minima? Similique.</div>

        <!-- Organization's Tab Content -->
        <div class="tab-pane fade" id="organization" role="tabpanel" aria-labelledby="organization-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia earum facere eligendi eaque non, veritatis exercitationem! Officiis error cum dolor pariatur nostrum distinctio odit iure quod eveniet perspiciatis! Omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi architecto quos accusantium exercitationem nobis iste. Officia perspiciatis debitis cum ut illum facilis repellat iure sapiente a. Necessitatibus porro ratione fugiat?</div>
    </div>
</div>