    {{!-- <!-- Employees' Tiles Container --> --}}
    <!-- Navigation Bar -->
    <div class="bg-light">
      <nav class="container navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand mr-3" href="/"><img src="/assets/images/logo.png" width="100" height="50"></a>
        <button class="navbar-toggler" type="click" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <!-- Buttons to Trigger Employee Information Modal -->
              <button id="addEmployeeButton" type="click" class="btn btn-primary mr-3" data-toggle="modal" data-target="#addEmployeeModal">
                  Add Employee
              </button>
              </li>

              <!-- Other Options Dropdown Menu -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Account Information</a>
                  <a class="dropdown-item" href="#">Give Feedback</a>
                  <a class="dropdown-item" href="#">Settings & Privacy</a>
                  <a class="dropdown-item" href="#">Help & Support</a>
                  <a class="dropdown-item" href="#">Display & Accessibility</a>
                  <div class="dropdown-divider"></div>
                  <a id="logout" type="click" class="dropdown-item" href="./redundant-index.html">Logout</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </nav>
    </div>
    

    {{> hero-cards data}}

    {{> add-employee data}}
    {{> edit-employee data}}

    <div id="employeeContainer" class="container rounded border border-primary">
    <h2>Direct Reports</h2><br>
        <div id="employeeContainerRow" class="row">
            {{#each data.[1] as |employee|}}
            {{> employee-cards employee}}
            {{/each}}
        </div>
    </div>

    {{!-- {{> employee-charts}} --}}

    <script src="/assets/js/add-employee.js"></script>
    <script src="/assets/js/logout.js"></script>
    <script src="/assets/js/edit-employee.js"></script>
    <script src="/assets/js/delete-employee.js"></script>
