{{> header}}
    {{!-- <div>{{data.[0].[0].id}}</div>
    <div>{{data.[1].[0].id}}</div> --}}
    <div class="container welcome-msg mt-5">
      <h2>Hello <strong>{{data.[0].[0].first_name}}!</strong></h2>
      <div class="d-flex justify-content-between flex-wrap">
        <h3>What would you like to do today?</h3>
        <button id="addEmployeeButton" type="click" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEmployeeModal">
            Add Employee
        </button>
      </div>
    </div>
    {{!-- <p>{{data.[0]}}</p> --}}
    {{> hero-cards data}}

    {{> alert}}

    {{> add-employee data}}
    {{> edit-employee data}}

    <div id="employeeContainer" class="container rounded border un-box-shadow bg-white p-5">
    <h2>Direct Reports</h2><br>
        <div id="employeeContainerRow" class="row">
            {{#each data.[1] as |employee|}}
            {{> employee-cards employee}}
            {{/each}}
        </div>
    </div>

    <div id="searchEmployeeContainer" class="container rounded border un-box-shadow bg-white p-5 d-none">
    <h2>Search Results..</h2><br>
      <div id="searchEmployeeContainerRow" class="row"></div>
      <div class="allEmpButton d-flex justify-content-center m-3">
        <a href="/dashboard" class="btn btn-lg btn-outline-success my-2 my-sm-0 m-1 search-button" type="click">See all employees</a>
      </div>
    </div>

    {{> employee-charts}}

    {{> footer}}

    {{!-- {{> employee-charts}} --}}

    <script src="/assets/js/add-employee.js"></script>
    <script src="/assets/js/logout.js"></script>
    <script src="/assets/js/edit-employee.js"></script>
    <script src="/assets/js/delete-employee.js"></script>
    <script src="/assets/js/search.js"></script>
