    {{!-- <!-- Employees' Tiles Container --> --}}
    <div class="container">
        <div id="employeeTiles" class="card-deck"></div>
    </div>

    {{!-- <!-- Buttons to Trigger Modals --> --}}
    <button id="addEmployeeButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEditEmployeeModal">
        Add Employee
    </button>

    
    {{!-- <!-- Buttons to Trigger Modals --> --}}
    <button id="logout" type="button" class="btn btn-primary">
        Logout
    </button>


    {{> add-employee}}

    <script src="/assets/js/add-employee.js"></script>
    <script src="/assets/js/logout.js"></script>
