
 <img id="logo" src="./assets/images/logo.png" alt="Coworkers Logo" width="500">
{{!-- <!-- Sign-up form --> --}}
<form class="login-form" id="signInForm">
  {{!-- <!-- Email input --> --}}
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">You must be a manager to login.</small>
  </div>
  {{!-- <!-- Password input --> --}}
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  {{!-- <!-- Save credentials checkbox --> --}}
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div>
    {{!-- <!-- Submit form data --> --}}
  <div class="d-grid gap-2 mx-auto">
    <button id="signIn" type="submit" class="btn btn-primary mt-3 w-100">Submit</button>
  </div>
  <div>
    <a href="/signup">Sign up instead</a>
  </div>
  
</form>

<script src="/assets/js/login.js"></script>
<script src="/assets/js/signup.js"></script>