/* body {
    background-color: lightcyan;
}

#tabs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: lightgoldenrodyellow;
}

#employeeContainer {
    margin-bottom: 2%;
    padding: 1%;
    background-color: lightgoldenrodyellow;
}

.card {
    margin: 1%;
}



.editEmployeeButton, .removeEmployeeButton {
    margin: 5px;
}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 25%;
}

#signInForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
} */


.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-dialog {
    max-width: 700px;
}

.un-box-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(196 205 224 / 20%);
}

.btn-primary {
    background-color: #48A9A6;
    border-color: #48A9A6;
}

.btn-primary:hover {
    background-color: #477998;
}

.btn-danger {
    background-color: #E56F6B;
    border-color: #E56F6B;
}

body {
    background-color: #f1f4fb;
}

a {
    color: #477998;
}