#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
}

#signUpForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
  }