body {
    background-color: lightcyan;
}

#tabs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
}

#employeeContainer {
    background-color: lightgreen;
}

.card {
    margin: 1%;
}

.editEmployeeButton, .removeEmployeeButton {
    margin: 5px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 25%;
}

#signInForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
}